# dash is required to call `build:py`
dash[dev]>=1.15.0
pandas
scipy
scikit-image
dash-bootstrap-components
numexpr
shapely
statsmodels
numpy>=1.22.2 # not directly required, pinned by Snyk to avoid a vulnerability